# Python Einf√ºhrung
## Tag 1

Das ist eine Markdown-Zeile *kursiv* **fett** ***fett-kursiv***

- Punkt1
- Punkt2
- Punkt3

In [1]:
print("Hallo Welt")

Hallo Welt

In [2]:
print ("something")
# ein Kommentar

something

In [3]:
name = "Lovelace"

In [4]:
 print(name)

Lovelace

In [18]:
age = 73

In [10]:
size = 1.7123

In [11]:
knows_math = True
print(knows_math)
likes_slacking = False
print(likes_slacking)

True
False

In [12]:
type(name)

str

In [13]:
type(age)

str

In [14]:
type(size)

float

In [15]:
5+5

10

In [19]:
age * 100

7300

In [20]:
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [24]:
name + str(age)

'Lovelace73'

## Funktionen und Methoden nutzen

In [26]:
len(name)

8

In [27]:
name.upper()

'LOVELACE'

In [28]:
name

'Lovelace'

In [29]:
name_upper = name.upper()

In [30]:
print(name)
print(name_upper)

Lovelace
LOVELACE

In [31]:
name.count("e")

2

In [32]:
name.replace("lace", " is in the air")

'Love is in the air'

## Listen und Dictionaries

In [33]:
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [34]:
type(names)

list

In [35]:
names[2]

'Curie'

In [36]:
names[1]

'Darwin'

In [37]:
names[-1]

'Hawking'

In [38]:
names[0:2]

['Lovelace', 'Darwin']

In [39]:
names[:2]

['Lovelace', 'Darwin']

In [40]:
names[2:]

['Curie', 'Hawking']

In [41]:
authors_and_birth_years = {"Lovelace": 1882, 
                           "Darwin": 1809, 
                           "Hawking": 1942}

In [42]:
type(authors_and_birth_years)

dict

In [44]:
authors_and_birth_years = {"Lovelace": 1882, 
                           "Darwin": 1809, 
                           "Hawking": [1942, 2018]}

In [45]:
authors_and_birth_years["Darwin"]

1809

In [46]:
authors_and_birth_years["Hawking"]

[1942, 2018]

In [49]:
authors_and_birth_years["Hawking"][1]

2018

In [50]:
names

['Lovelace', 'Darwin', 'Curie', 'Hawking']

## Schleifen

In [51]:
for Nachname in names:
    print(Nachname + " did awesome stuff")

Lovelace did awesome stuff
Darwin did awesome stuff
Curie did awesome stuff
Hawking did awesome stuff

In [52]:
for Nachname in ['Lovelace', 'Darwin', 'Curie', 'Hawking']:
    print(Nachname + " did awesome stuff")

Lovelace did awesome stuff
Darwin did awesome stuff
Curie did awesome stuff
Hawking did awesome stuff

In [53]:
for Nachname in names:
    print("What did " + Nachname + " do?")
    print(Nachname + " did awesome stuff")

What did Lovelace do?
Lovelace did awesome stuff
What did Darwin do?
Darwin did awesome stuff
What did Curie do?
Curie did awesome stuff
What did Hawking do?
Hawking did awesome stuff

In [54]:
for name in names:
    print (name)
    print ("-------")

Lovelace
-------
Darwin
-------
Curie
-------
Hawking
-------

In [55]:
for name in names:
    print (name)
print ("-------")

Lovelace
Darwin
Curie
Hawking
-------

In [56]:
for name in names:
    print (name, end = "")
print ("-------")

LovelaceDarwinCurieHawking-------

## Bedingte Anweisungen (Conditionals)

In [57]:
temp = 20
if temp > 15:
    print("It¬¥s warm")

It¬¥s warm

In [58]:
temp > 15

True

In [59]:
temp = 10
if temp > 15:
    print("It¬¥s warm")
else:
    print("It¬¥s cold")

It¬¥s cold

In [60]:
temp = 15
if temp >= 25:
    print("It¬¥s hot")
elif temp >= 15:
    print("It¬¥s warm")
else:
    print("It¬¥s cold")

It¬¥s warm

In [61]:
temps = [0, 10, 16, 22, 30]

In [63]:
for Temperatur in temps:
    if Temperatur >= 25:
        print("It¬¥s hot")
    elif Temperatur >= 15:
        print("It¬¥s warm")
    else:
        print("It¬¥s cold")

It¬¥s cold
It¬¥s cold
It¬¥s warm
It¬¥s warm
It¬¥s hot

In [64]:
temperaturen = {"Montag": 0,
               "Dienstag": 10,
               "Mittwoch": 16,
               "Donnerstag": 22,
               "Freitag": 30,
               "Samstag": 14,
               "Sonntag": 20}

In [65]:
for Temperatur in temperaturen:
    print(Temperatur, temperaturen[Temperatur])
    if temperaturen[Temperatur] >=25:
        print("It's hot")
    elif temperaturen[Temperatur] >= 15:
        print("It's warm")
    else:
        print("It's cold")

Montag 0
It's cold
Dienstag 10
It's cold
Mittwoch 16
It's warm
Donnerstag 22
It's warm
Freitag 30
It's hot
Samstag 14
It's cold
Sonntag 20
It's warm